{% extends 'base.html' %}

{% block title %}Upload Software - ITech Solutions{% endblock %}

{% block content %}
<div class="container my-5 ">
    <h2 class="text-center mb-4">Upload Software</h2>
    <form action="{% url 'upload_software' %}" method="post" enctype="multipart/form-data" class="p-4 border rounded shadow-sm bg-light">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">Software Name:</label>
            <input type="text" name="name" id="name" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description:</label>
            <textarea name="description" id="description" rows="4" class="form-control" required></textarea>
        </div>

        <div class="mb-3">
            <label for="file" class="form-label">Upload File (.exe only):</label>
            <input type="file" name="file" id="file" accept=".exe" class="form-control" required>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-lg">Upload</button>
        </div>
    </form>
</div>
{% endblock %}
